<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <body style="background-color: powderblue;" onload="setInterval(() => {pingServer()}, 1*1000)">
        <h4 id="TypeOfDevice" name="TypeOfDevice" onload="self.textContent = 'You have logged in as: ' + getDeviceType()"></h1>
        <h1>Welcome to my web based monitor - Gregtech New Horizons</h1>
        <p>Bare with me of the lack of efficiency</p>

        <div style="text-align: center;">
            <div style="text-align: center;">
                <div style="width: auto; height: auto; text-align: center;">
                    <h1>Server Active</h1>
                    <img id="ServerOnMark" name="ServerOnMark" src="{{url_for('static',filename='images/CrossMark.png')}}" style="vertical-align:middle; max-width: 75px; max-height: 75px;" alt="Server On">
                    <div style='vertical-align:middle; display:inline;'>
                        <h5>
                            Server is on
                        </h5>
                    </div>
                    <img id="ServerActiveMark" name="ServerActiveMark" src="{{url_for('static',filename='images/CrossMark.png')}}" style="vertical-align:middle; max-width: 75px; max-height: 75px;" alt="Server Active">
                    <div style='vertical-align:middle; display:inline;'>
                        <h5>
                            Server is joinable
                        </h5>
                    </div>
                </div>
            </div>
            
            <div style="text-align: center;">
                <div style="width: auto; height: auto; text-align: center;">
                    <h1>Playit Active</h1>
                    <img id="PlayitActiveMark" name="PlayitActiveMark" src="{{url_for('static',filename='images/CrossMark.png')}}" style="vertical-align:middle; max-width: 75px; max-height: 75px;" alt="Playit Active">
                    <div style='vertical-align:middle; display:inline;'>
                        <h5>
                            Playit is active
                        </h5>
                    </div>
                </div>
            </div>
            
            <div style="text-align: center;">
                <h1>Actions</h1>
                <div class="panel">
                    <button id="StartButton" name="StartButton" class="btn" onclick="start()" disabled=false style="font-size: 200%; min-width: 100px; min-height: 50px; width: 100%; height: 50px;">Start</button>
                </div>
                
                <!-- Blank line space -->
                <div id="adngin-mid_content-0" style="min-width: 468px; min-height: 10px; display: flex; justify-content: space-around; align-items: center; width: 468px; flex-direction: row;">
                    <div id="adngin-mid_content-0-adaptive-group-0-placement-0"></div>
                </div>
                
                <div class="panel">
                    <button id="StopButton" name="StopButton" class="btn" onclick="stop()" disabled=false style="font-size: 200%; min-width: 100px; min-height: 50px; width: 100%; height: 50px;">Stop</button>
                </div>
                
                <!-- Blank line space -->
                <div id="adngin-mid_content-0" style="min-width: 468px; min-height: 10px; display: flex; justify-content: space-around; align-items: center; width: 468px; flex-direction: row;">
                    <div id="adngin-mid_content-0-adaptive-group-0-placement-0"></div>
                </div>
                
                <div class="panel">
                    <button id="CloseWebsite" name="CloseWebsite" class="btn" onclick="CloseWebsite()" style="font-size: 200%; min-width: 100px; min-height: 50px; width: 100%; height: 50px;">Close Website</button>
                </div>
            </div>
        </div>
        
        <!-- Blank line space -->
        <div id="adngin-mid_content-0" style="min-width: 468px; min-height: 50px; display: flex; justify-content: space-around; align-items: center; width: 468px; flex-direction: row;">
            <div id="adngin-mid_content-0-adaptive-group-0-placement-0"></div>
        </div>
        
        <div style="text-align: center;">
            <div class="panel">
                <button id="computerTurnOff" name="computerTurnOff" class="btn" onclick="computerTurnOff()" style="font-size: 200%; min-width: 100px; min-height: 50px; width: 100%; height: 50px;">Turn of computer</button>
            </div>

            <!-- Blank line space -->
            <div id="adngin-mid_content-0" style="min-width: 468px; min-height: 10px; display: flex; justify-content: space-around; align-items: center; width: 468px; flex-direction: row;">
                <div id="adngin-mid_content-0-adaptive-group-0-placement-0"></div>
            </div>

            <div class="panel">
                <button id="computerFORCEOff" name="computerFORCEOff" class="btn" onclick="computerFORCEOff()" style="font-size: 200%; min-width: 100px; min-height: 50px; width: 100%; height: 50px;">Force shut down computer</button>
            </div>
        </div>
        
        <script>
            function getDeviceType() {
                if(navigator.userAgent.match(/mobile/i)) {
                    return 'Mobile';
                } else if (navigator.userAgent.match(/iPad|Android|Touch/i)) {
                    return 'Tablet';
                } else {
                    return 'Desktop';
                }
            }
            document.getElementById("TypeOfDevice").textContent = "You have logged in as: " + getDeviceType();

            function stop() {
                fetch('/stop')
                .then(r => r.text())
                .then(t => alert('Server response: ' + t))
                .catch(e => alert('Error: ' + e));
            }

            function CloseWebsite() {
                fetch('/closeWebsite')
                .then(r => r.text())
                .then(t => alert('Server response: ' + t))
                .catch(e => alert('Error: ' + e));
            }
            
            function start() {
                fetch('/start')
                .then(r => r.text())
                .then(t => alert('Server response: ' + t))
                .catch(e => alert('Error: ' + e));
            }

            function computerTurnOff() {
                fetch('/computerTurnOff')
                .then(r => r.text())
                .then(t => alert('Server response: ' + t))
                .catch(e => alert('Error: ' + e));
            }
            
            function computerFORCEOff() {
                fetch('/computerFORCEOff')
                .then(r => r.text())
                .then(t => alert('Server response: ' + t))
                .catch(e => alert('Error: ' + e));
            }
            
            function pingServer() {
                fetch('/awake/GTNHJoinable', { signal: AbortSignal.timeout(5000) }).then((response) => {
                    const ServerActiveMark = document.getElementById("ServerActiveMark")
                    if (response.ok) {
                        ServerActiveMark.setAttribute("src", "{{url_for('static',filename='images/CheckMark.png')}}")
                    } else {
                        ServerActiveMark.setAttribute("src", "{{url_for('static',filename='images/CrossMark.png')}}")
                    }
                });
                
                fetch('/awake/GTNHApplication', { signal: AbortSignal.timeout(5000) }).then((response) => {
                    const ServerOnMark = document.getElementById("ServerOnMark")
                    if (response.ok) {
                        ServerOnMark.setAttribute("src", "{{url_for('static',filename='images/CheckMark.png')}}")
                    } else {
                        ServerOnMark.setAttribute("src", "{{url_for('static',filename='images/CrossMark.png')}}")
                    }
                });

                fetch('/awake/Playit', { signal: AbortSignal.timeout(5000) }).then((response) => {
                    const PlayitActiveMark = document.getElementById("PlayitActiveMark")
                    if (response.ok) {
                        PlayitActiveMark.setAttribute("src", "{{url_for('static',filename='images/CheckMark.png')}}")
                    } else {
                        PlayitActiveMark.setAttribute("src", "{{url_for('static',filename='images/CrossMark.png')}}")
                    }
                });

                fetch('/awake/All', { signal: AbortSignal.timeout(5000) }).then((response) => {
                    const StartButton = document.getElementById("StartButton")
                    const StopButton = document.getElementById("StopButton")
                    const computerTurnOffButton = document.getElementById("computerTurnOffButton")
                    if (response.ok) {
                        StartButton.disabled = true
                        StopButton.disabled = false
                    } else {
                        StartButton.disabled = false
                        StopButton.disabled = true
                    }
                });
            }
        </script>
    </body>
</html>